In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kenzi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\kenzi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kenzi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kenzi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kenzi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\kenzi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\kenzi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.9)

In [5]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\kenzi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kenzi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kenzi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [8]:
df = pd.read_csv('C:/Users/kenzi/OneDrive/Desktop/LMU/Last Semester/ISBA Capstone (Haven)/TruncatedEntityData.csv')

In [9]:
df

,UEI,Column1,_1,Cage Code,_3,_4,Registration Purpose,Registration Date,_7,_8,...,_131,_132,_133,_134,_135,_136,_137,_138,_139,_140
0,C111ATT311C8,NaN,NaN,53YC5,NaN,A,Z2,20131112,20240705,20230710,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,!end
1,C111BG66D155,NaN,NaN,6M9A6,NaN,A,Z1,20111228,20240917,20230920,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,!end
2,C111FE1KRJF1,NaN,NaN,6T4Q4,NaN,A,Z1,20121105,20250123,20240129,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,!end
3,C111JJBMS328,NaN,NaN,6PA87,NaN,A,Z2,20120309,20241108,20231229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,!end
4,C112Q3D8VPM3,NaN,NaN,50JA8,NaN,A,Z2,20080306,20240928,20231002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,!end
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,C11UNZ93M595,NaN,NaN,3EBY9,NaN,A,Z2,20030319,20241106,20231109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,!end
95,C11UU252P5S5,NaN,NaN,0LRN7,NaN,A,Z2,20010828,20240423,20240302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,!end
96,C11VD6S7BGP3,NaN,NaN,84Y50,NaN,A,Z2,20180716,20241206,20231228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,!end
97,C11VRAGCALD9,NaN,NaN,NaN,NaN,A,Z1,20211216,20240928,20231002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,!end
98,C11VTHC4C9X7,NaN,NaN,7LL07,NaN,A,Z2,20160304,20240313,20230316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,!end

In [10]:
columns_to_drop = ['Column1', '_1', '_3', '_4', '_7', '_8', '_9', '_13', '_21', '_22', '_23', '_24', '_27', '_28', '_29', '_31', '_32', '_34', '_35', '_36', '_37', '_38', '_39', '_40', '_41', '_42', '_43', '_44']
additional_columns_to_drop = ['_{}'.format(i) for i in range(56, 141)]
columns_to_drop.extend(additional_columns_to_drop)
df = df.drop(columns=columns_to_drop, axis=1)
df = df.rename(columns={'_45':'PoC First Name', '_46':'PoC MI', '_47':'PoC Last Name', '_48':'PoC Title', '_49':'PoC Address', '_50':'PoC Address 2', '_51':'PoC City', '_52':'PoC Zip', '_53':'PoC Zip 2', '_54':'PoC Country', '_55':'PoC State'})
# In original file, things like UEI are not named (I changed it in Excel), create dictionary for them ASAP

Need dictionaries uploaded for registration purpose, certifications, and NAICS

In [11]:
registration_purpose_map = {
    'Z1': 'Federal Assistance Awards',
    'Z2': 'All Awards',
    'Z3': 'IGT Only',
    'Z4': 'Assistance Awards & IGT',
    'Z5': 'All Awards and IGT'
}

df['Registration Purpose'] = df['Registration Purpose'].replace(registration_purpose_map)

In [13]:
certifications_map = {
    'A6': 'SBA Certified 8(a) Program Participant',
    'JT': 'SBA Certified 8(a) Joint Venture',
    'XX': 'SBA Certified HUBZone Firm',
    'A4': 'SBA Certified Small Disadvantaged Business',
    'A7': 'AbilityOne Non-Profit Agency',
    '2R': 'U.S. Federal Government',
    '2F': 'U.S. State Government',
    '12': 'U.S. Local Government',
    '3I': 'Tribal Government',
    'CY': 'Foreign Government',
    '20': 'Foreign Owned',
    '1D': 'Small Agricultural Cooperative',
    'LJ': 'Limited Liability Company',
    'XS': 'Subchapter S Corporation',
    'MF': 'Manufacturer of Goods',
    '2X': 'For Profit Organization',
    'A8': 'Non-Profit Organization',
    '2U': 'Other Not For Profit Organization',
    'HK': 'Community Development Corporation Owned Firm',
    'A3': 'Labor Surplus Area Firm',
    'A5': 'Veteran-Owned Business',
    'QF': 'Service-Disabled Veteran-Owned Business',
    'JV': 'Service-Disabled Veteran-Owned Business Joint Venture',
    'A2': 'Woman-Owned Business',
    '23': 'Minority-Owned Business',
    'FR': 'Asian-Pacific American Owned',
    'QZ': 'Subcontinent Asian (Asian-Indian) American Owned',
    'OY': 'Black American Owned',
    'PI': 'Hispanic American Owned',
    'NB': 'Native American Owned',
    '1E': 'Indian Economic Enterprise',
    '1S': 'Indian Small Business Economic Enterprise',
    '27': 'Self-Certified Small Disadvantaged Business',
    'JX': 'Self-Certified HUBZone Joint Venture',
    'NG': 'Federal Agency',
    'QW': 'Federally Funded Research and Development Center',
    'C8': 'City',
    'C7': 'County',
    'ZR': 'Inter-municipal',
    'MG': 'Local Government Owned',
    'C6': 'Municipality',
    'H6': 'School District',
    'TW': 'Transit Authority',
    'UD': 'Council of Governments',
    '8B': 'Housing Authorities Public/Tribal',
    '86': 'Interstate Entity',
    'KM': 'Planning Commission',
    'T4': 'Port Authority',
    'H2': 'Community Development Corporation Owned Firm',
    '6D': 'Domestic Shelter',
    'M8': 'Educational Institution',
    'G6': '1862 Land Grant College',
    'G7': '1890 Land Grant College',
    'G8': '1994 Land Grant College',
    'HB': 'Historically Black College or University',
    '1A': 'Minority Institution',
    '1R': 'Private University or College',
    'ZW': 'School of Forestry',
    'GW': 'Hispanic Servicing Institution',
    'OH': 'State Controlled Institution of Higher Learning',
    'HS': 'Tribal College',
    'QU': 'Veterinary College',
    'G3': 'Alaskan Native Servicing Institution',
    'G5': 'Native Hawaiian Servicing Institution',
    'BZ': 'Foundation',
    '80': 'Hospital',
    'FY': 'Veterinary Hospital',
    'HQ': 'DOT Certified DBE',
    '05': 'Alaskan Native Corporation Owned Firm',
    'OW': 'American Indian Owned',
    'XY': 'Indian Tribe (Federally Recognized)',
    '8U': 'Native Hawaiian Organization Owned Firm',
    '1B': 'Tribally Owned Firm',
    'FO': 'Township',
    'TR': 'Airport Authority',
    'G9': 'Individual or concern, other than one of the proceeding',
    'JS': 'Small Business Joint Venture',
    '8W': 'Women-Owned Small Business'
}
def convert_codes_to_titles(codes):
    return '~'.join([certifications_map.get(code, code) for code in codes.split('~')])
df['Certifications'] = df['Certifications'].apply(convert_codes_to_titles)
df['Certifications'] = df['Certifications'].str.replace('~', ', ')
df

,UEI,Cage Code,Registration Purpose,Registration Date,Names,Alt. Names,Alt2,Corporate Street Address,C.Address 2,City (corp),...,PoC MI,PoC Last Name,PoC Title,PoC Address,PoC Address 2,PoC City,PoC Zip,PoC Zip 2,PoC Country,PoC State
0,C111ATT311C8,53YC5,All Awards,20131112,K & K CONSTRUCTION SUPPLY INC,NaN,NaN,11400 WHITE ROCK RD,NaN,RANCHO CORDOVA,...,NaN,LOVELAND,DIRECTOR,11400 WHITE ROCK ROAD,NaN,RANCHO CORDOVA,95742,NaN,USA,CA
1,C111BG66D155,6M9A6,Federal Assistance Awards,20111228,NEW ADVANCES FOR PEOPLE WITH DISABILITIES,NAPD,NAPD,3400 N SILLECT AVE,NaN,BAKERSFIELD,...,NaN,BARENCHI,DIRECTOR OF OPERATIONS & FINANCE,3400 N. SILLECT AVENUE,NaN,BAKERSFIELD,93308,NaN,USA,CA
2,C111FE1KRJF1,6T4Q4,Federal Assistance Awards,20121105,"RIDE ON ST. LOUIS, INC.",NaN,NaN,5 N LAKE DR,NaN,HILLSBORO,...,A,WASSMAN,NaN,PO BOX 94,NaN,KIMMSWICK,63053,NaN,USA,MO
3,C111JJBMS328,6PA87,All Awards,20120309,"EMERZIAN WOODWORKING, INC.",EMERZIAN WOODWORKING INC,NaN,2555 N ARGYLE AVE,NaN,FRESNO,...,NaN,EMERZIAN,NaN,2555 N ARGYLE AVE,NaN,FRESNO,93727,1378.0,USA,CA
4,C112Q3D8VPM3,50JA8,All Awards,20080306,"TURF TEQ, LLC",TURF TEQ LLC,"TURF TEQ, LLC",699 TODD RD,NaN,HONEY BROOK,...,R.,DAY,NaN,699 TODD ROAD,NaN,HONEY BROOK,19344,NaN,USA,PA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,C11UNZ93M595,3EBY9,All Awards,20030319,"ENTERPRISE SERVICES AND TECHNOLOGIES, INC.",NaN,NaN,912 THAYER AVE STE 202,NaN,SILVER SPRING,...,NaN,BARNES,PRESIDENT,912 THAYER AVE.,SUITE 202,SILVER SPRING,20910,5735.0,USA,MD
95,C11UU252P5S5,0LRN7,All Awards,20010828,SHOCK TECH INC,NaN,NaN,211 ISLAND RD,NaN,MAHWAH,...,NaN,JAMES,NaN,211 ISLAND ROAD,NaN,MAHWAH,07430,NaN,USA,NJ
96,C11VD6S7BGP3,84Y50,All Awards,20180716,DIVERSIFIED INVESTMENTS AND ASSOCIATES INC,NaN,KIDS TECH DISCOVERY CENTER,14224 S INDIANA AVE,NaN,RIVERDALE,...,NaN,COUSIN,NaN,14224 S INDIANA AVE,NaN,RIVERDALE,60827,NaN,USA,IL
97,C11VRAGCALD9,NaN,Federal Assistance Awards,20211216,SUMMER HOUSE ENTERTAINMENT INC,NaN,SUMMER HOUSE ENTERTAINMENT INC,1911 CHAMPLAIN ST,NaN,OTTAWA,...,L,TROCCOLI,PRESIDENT,1911 CHAMPLAIN ST,NaN,OTTAWA,61350,NaN,USA,IL
98,C11VTHC4C9X7,7LL07,All Awards,20160304,GEMTECH NUCLEAR SECURITY SOLUTIONS LLC,NaN,NaN,2033 CASTAIC LN,NaN,KNOXVILLE,...,NaN,JERRELL,NaN,2033 CASTAIC LANE,NaN,KNOXVILLE,37932,1557.0,USA,TN

In [8]:
#NAICS is divided into the following hierarchy:
#Sector: 2-digit code
#Subsector: 3-digit code
#Industry Group: 4-digit code
#NAICS Industry: 5-digit code
#National Industry: 6-digit code

#so 238350Y would be 23-835-0Y, but what does 0Y mean?

In [12]:
from sqlalchemy import create_engine

# Define your PostgreSQL connection string
user = ''
password = ''
host = 'localhost'
port_number = '5432'
database_name = 'Haven'
connection_string = f'postgresql://{user}:{password}@{host}:{port_number}/{database_name}'


# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Upload DataFrame to PostgreSQL table
table_name = 'Entity_Data_Tester'
df.to_sql(table_name, engine, if_exists='replace', index=False)

ModuleNotFoundError: No module named 'psycopg2'

In [15]:
pip install fuzzywuzzy

Collecting fuzzywuzzyNote: you may need to restart the kernel to use updated packages.

  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [16]:
import pandas as pd
from sqlalchemy import create_engine
from fuzzywuzzy import process

C:\Users\kenzi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
user = 'your_user'
password = 'your_password'
host = 'localhost'
port_number = '5432'
database_name = 'Haven'
connection_string = f'postgresql://{user}:{password}@{host}:{port_number}/{database_name}'
engine = create_engine(connection_string)

In [91]:
def load_data(table_name): #plug in relevant names
    return pd.read_sql_table(table_name, engine)

In [118]:
#full code that recognizes duplicates both within a table itself and with other tables
def deduplicate_data(df, column_name, threshold=90):
    # Convert all values in the column to strings
    df[column_name] = df[column_name].astype(str)
    
    # Fill missing values with a placeholder string
    df[column_name].fillna('', inplace=True)
    
    unique_names = pd.Series(df[column_name].unique())
    matches = unique_names.apply(lambda x: process.extract(x, unique_names, limit=2))
    matches = matches.apply(lambda x: [(m[0], m[1]) for i, m in enumerate(x) if m[1] >= threshold and m[0] != unique_names.iloc[i]])
    
    # Consolidate duplicates
    consolidated = {}
    for i, match_list in enumerate(matches):
        for match in match_list:
            original = unique_names[i]
            duplicate = match[0]
            if duplicate in consolidated:
                consolidated[duplicate].add(original)
            else:
                consolidated[duplicate] = {original, duplicate}
    
    # Create a mapping of duplicates to originals
    mapping = {old: new for new, old_set in consolidated.items() for old in old_set}
    
    # Apply mapping to the column
    df[column_name] = df[column_name].replace(mapping)
    
    # Convert all values in the column back to strings (in case any values were converted to other types during the operation)
    df[column_name] = df[column_name].astype(str)
    
    # Iterate through each row and replace older cells with newer ones if there are differences
    for index, row in df.iterrows():
        duplicate_rows = df[df[column_name] == row[column_name]]
        if len(duplicate_rows) > 1:  # If there are duplicates
            newer_row = duplicate_rows.iloc[-1]  # Get the newer row
            for col in df.columns:  # Iterate through each column
                if row[col] != newer_row[col]:  # If the cell values are different
                    df.at[index, col] = newer_row[col]  # Replace with the newer value
    
    # Drop duplicate rows (keeping the last occurrence)
    df.drop_duplicates(subset=[column_name], keep='last', inplace=True)
    
    return df

In [119]:
#whichever new table should be on df2 and the old table should be df1
def main():
    df1 = load_data(' ')
    df2 = load_data(' ')
    combined_df = pd.concat([df1, df2], ignore_index=True)
    deduplicated_df = deduplicate_data(combined_df, 'Names')
    deduplicated_df.to_sql('groupcal6', engine, if_exists='replace', index=False)

if __name__ == '__main__':
    main()

C:\Users\kenzi\AppData\Local\Temp\ipykernel_42284\3480252319.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column_name].fillna('', inplace=True)

From here, use SQLAlchemy to append this data onto a new table.

Notes

In [109]:

# filepath to where you want to extract the csv to so that you can use the next python script
filepath = ' '

# Extract directory path from the filepath
directory = os.path.dirname(filepath)

# Create the directory if it doesn't exist
os.makedirs(directory, exist_ok=True)

# Make a dataframe from the loaded grouped table data
df4=load_data('groupcal2')

# Save the grouped table into your desktop as a csv file that can be read for the python script
df4.to_csv(filepath, index=False)